*{
    padding: 0%;
    margin: 0%;
}
.continentes {
    background-color: tomato;
    text-align: center;
    font-family: 'Nunito';
    font-style: normal;
    font-size: 70px;
    color: #FFFFFF;
    padding: 10px;
}

.paises {
    background-color:blueviolet;
    text-align: center;
    font-family: 'Nunito';
    font-style: normal;
    font-size: 70px;
    color: #FFFFFF;
    padding: 10px;
}

.mundo {
    text-align: center;
    font-family: 'Nunito';
    font-style: normal;
    font-size: 70px;
    color: #000;
    padding: 10px;
}

.cajaMundos {
    justify-content: center;
    justify-items: center;
}